body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Alinea los elementos (canvas y controles) verticalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center;     /* Centra el contenido horizontalmente */
}

.canvas {
  width: 80vw;  /* 80% del ancho de la ventana */
  height: 60vh; /* 60% de la altura de la ventana */
  border: 1px solid black;
  margin: 20px, 20px, 20px, 20px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
